<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Google_Forms_logo_%282014-2020%29.svg/640px-Google_Forms_logo_%282014-2020%29.svg.png" alt="" width="50" height="60">
      <h2>Registro</h2>
      <p class="lead">Estas a un solo paso de recibir la mejor informacion relacionada al mundo del futbol</p>
    </div>

    <div class="container">
      <div class="">
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Tus nombres son requeridos
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Tus apellidos son requeridos
              </div>
            </div>

            <div class="col-sm-6">
              <label for="username" class="form-label">Contraseña</label>
              <div class="input-group has-validation">
                <input type="password" class="form-control" id="txtContrasenia">
              <div class="invalid-feedback">
                  Tu contraseña es requerrida
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="email" class="form-label">Correo Electronico </label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Por favor ingrese un correo electronico valido
              </div>
            </div>

            <div class="col-sm-6">
              <label for="address" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="address" placeholder="12345678" required>
              <div class="invalid-feedback">
                Por favor ingrese su numero de telefono
              </div>
            </div>

            <div class="col-sm-6">
              <label for="address2" class="form-label">Link de Fotografia <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="">
            </div>

            <div class="col-sm-6">
                <label for="txtGenero" class="form-label">Genero</label>
                <select class="form-select" id="txtGenero" required>
                  <option value="0" selected>Elegir...</option>
                  <option value="1">Masculino</option>
                  <option value="2">Femenino</option>
                </select>
              <div class="invalid-feedback">
                Por favor ingrese un genero valido
              </div>
            </div>

            <div class="col-sm-6">
              <label for="txtFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="start" name="trip-start"
                  min="1900-01-01" max="2030-12-31" required>
              <div class="invalid-feedback">
                Por favor ingrese su fecha de nacimiento
              </div>
            </div>

            <div class="col-sm-6">
              <label for="txtDireccion" class="form-label">Direccion <span class="text-muted"></span></label>
              <input type="text" class="form-control" id="txtDireccion" placeholder="">
            </div>

            <div class="col-sm-6">
              <label for="txtPais" class="form-label">Pais</label>
              <select class="form-select" id="txtPais" required>
                <option value="0" selected>Elegir...</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
              </select>
            <div class="invalid-feedback">
              Por favor ingrese su pais de nacimiento
            </div>
          </div>
          </div>
          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Registrar</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021–2021 Soccer Statistics</p>
  </footer>
</div>