<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://www.svgrepo.com/show/168852/soccer.svg" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/login">Iniciar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="cointainer">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">El fútbol es un juego de errores. Quien cometa el menor error, gana</h1>
          <p class="lead text-muted">Johan Cruyff</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"><b>Mision</b> <br/> Ser el mejor proveedor de servicio del mundo. Para lograrlo, hemos establecido una cultura que apoya a los miembros de nuestro equipo para que ellos puedan dar un servicio excepcional a nuestros clientes. “A los clientes no les gustará una empresa si no les gusta primero a sus empleados”.</p>
                  <div class="d-flex justify-content-between align-items-center">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text"><b>Vision</b> <br/> Convertirnos en el proveedor de informacion sobre el futbol de mejor calidad del mercado local.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text"><b>Acerca De</b> <br/> Es una empresa dedicada a la recopilación de información sobre futbol desea poner a disposición de los usuarios los datos que han logrado obtener y los que seguirán obteniendo a través del tiempo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<footer class="text-muted text-center text-small">
    <br/>
    <p class="mb-1">&copy; 2021-2021 Soccer Statistics</p>
    <ul class="list-inline">
      <li class="list-inline-item">Contactanos: 12345678</li>
    </ul>
  </footer>
