
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img  class="d-block mx-auto mb-4"
            src="https://svgsilh.com/svg/1865345.svg" 
            alt="" width="200" height="60">
      <h2>ESTADIO</h2>
    </div>

    <div class="container">
      <div class="">
        <form class="needs-validation" novalidate>
          <div class="row g-3">

              <div class="col-sm-6">
                  <label class="form-label">Nombre</label>
                  <input [(ngModel)] = "estadio_nombre" 
                          name = "estadio_nombre" 
                          type="text" 
                          class="form-control" 
                          placeholder="" 
                          value="" required>
              </div>
       
              <div class="col-sm-6">
                  <label class="form-label">Fecha de inauguración</label>
                  <input [(ngModel)] = "fecha_inaguracion" 
                          name = "fecha_inaguracion" 
                          type="date" 
                          class="form-control" 
                          id="start_inaguracion" 
                          name="trip-start"
                          min="1900-01-01" max="2030-12-31" required
                  >
              </div>  

              <div class="col-sm-6">
                  <label class="form-label">Capacidad</label>
                  <input [(ngModel)] = "capacidad" 
                        name = "capacidad" type="number" 
                        class="form-control" placeholder=""
                  >
              </div>
              
              <div class="col-sm-6">
                <label for="txtPais" class="form-label">Pais</label>
                <select [(ngModel)] = "id_pais" 
                      name = "id_pais" 
                      class="form-select" 
                      id="txtPais" required>                        
                    <option *ngFor="let pais of Paises" 
                            value="{{ pais.id_pais }}">
                            {{ pais.nombre }}
                    </option>
                </select>
              </div>

              <div class="col-sm-6">
                <label for="address2" class="form-label">Dirección</label>
                <input [(ngModel)] = "direccion" 
                      name ="direcion" type="string" 
                      class="form-control" placeholder=""
                >
              </div>

              <div class="col-sm-6">
                <label  class="form-label">Estados</label>
                <select [(ngModel)] = "id_estado_estadio" 
                      name = "id_estado_estadio" 
                      class="form-select" required>                        
                      <option
                            *ngFor="let estado of Estado_Estadio" 
                            value="{{ estado.id_estado }}">
                            {{ estado.nombre }}
                      </option>
                </select>
              </div>

              <div class="">
                <label for="address2" class="form-label">Link de Fotografia <span class="text-muted">(Opcional)</span></label>
                <input [(ngModel)] = "link_fotografia" name = "link_fotografia" type="text" class="form-control" placeholder="">
              </div>

          </div>
          <br/>
          <button (click)="guardarEstadio()" 
                  class="w-100 btn btn-primary btn-lg" 
                  type="submit"
                  >Guardar Estadio
          </button>
          <br/>
          <br/>
          <button (click)="actualizarEstadio()" 
                  class="w-50 btn btn-warning" 
                  type="submit"
          >Guardar Cambios</button>

        </form>
      </div>
    </div>
  </main>
  

  <hr class="my-4">


  <table class="table">
      <thead>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">FECHA INAUGURACION</th>
          <th scope="col">CAPACIDAD </th>
          <th scope="col">PAIS</th>
          <th scope="col">DIRECCION</th>
          <th scope="col">ESTADO</th>
          <th scope="col">FOTO</th>
        </tr>
      </thead>

      <tbody>   
        <tr *ngFor="let estadio of Estadio">          
          <th>{{ estadio.estadio_nombre }}</th>
          <td>{{ estadio.fecha_inaguracion }}</td>
          <td>{{ estadio.capacidad }}</td>          
          <td>{{ estadio.pais_nombre }}</td>
          <td>{{ estadio.direccion }}</td>
          <td>{{ estadio.estado_nombre }}</td>
          <td><img  src="{{ estadio.link_fotografia }}" 
                    alt="" 
                    width="50" 
                    height="50">
          </td>
          
          <td>        
            <button (click)="setearInterfaz(
                              estadio.id_estadio,
                              estadio.estadio_nombre, 
                              estadio.fecha_inaguracion, 
                              estadio.capacidad,
                              estadio.id_pais, 
                              estadio.direccion,
                              estadio.id_estado_estadio,
                              estadio.link_fotografia )" 
                              class="btn btn-outline-warning" 
                              type="submit"
                              >Editar
            </button>&nbsp;
            
            <button (click)="eliminarEstadio(estadio.id_estadio)" 
                    class="btn btn-outline-danger" 
                    type="submit"
                    >Eliminar
            </button>          
          </td>           
        </tr>
        
      </tbody>
  </table>  

  <footer class="my-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021–2021 Soccer Statistics</p>
  </footer>
</div>




